go 1.25

use (
	./agentlogs
	./cloud
	./core
	./cx
	./daemon
	./docgen
	./flow
	./grove
	./grove-anthropic
	./grove-gemini
	./grove.nvim
	./hooks
	./memory
	./nav
	./nb
	./notify
	./project-tmpl-go
	./skills
	./tend
	./terminal
)
